In [25]:
import pandas as pd
data = [
    {"EmployeeID": 101, "Name": "Ravi Kumar", "Age": 28, "Department": "Sales", "JoiningDate": "2018-05-21",
     "Salary": 45000, "Email": "ravi.kumar@company.com", "ExperienceYears": 3},

    {"EmployeeID": 102, "Name": "Neha Sharma", "Age": 35, "Department": "HR", "JoiningDate": "2015-03-15",
     "Salary": 62000, "Email": "neha.sharma@company.com", "ExperienceYears": 8},

    {"EmployeeID": 103, "Name": "Amit Patel", "Age": None, "Department": "IT", "JoiningDate": "2019-07-30",
     "Salary": 75000, "Email": "amit.patel@company.com", "ExperienceYears": 2},

    {"EmployeeID": 104, "Name": "Priya Singh", "Age": 29, "Department": "Marketing", "JoiningDate": None,
     "Salary": 52000, "Email": "priya.singh@company.com", "ExperienceYears": 4},

    {"EmployeeID": 105, "Name": "Karan Mehta", "Age": 42, "Department": "Finance", "JoiningDate": "2011-11-20",
     "Salary": 83000, "Email": "karan.mehta@company", "ExperienceYears": 14},

    {"EmployeeID": 106, "Name": "Deepa Nair", "Age": 33, "Department": "IT", "JoiningDate": "2017-01-12",
     "Salary": 71000, "Email": "deepa.nair@company.com", "ExperienceYears": None},

    {"EmployeeID": 107, "Name": "Vikas Reddy", "Age": 26, "Department": "Operations", "JoiningDate": "2020-09-01",
     "Salary": 47000, "Email": "vikas.reddy@company.com", "ExperienceYears": 1},

    {"EmployeeID": 108, "Name": "Sneha Das", "Age": 38, "Department": "Finance", "JoiningDate": "2012-06-17",
     "Salary": 86000, "Email": "sneha.das@company.com", "ExperienceYears": 12},

    {"EmployeeID": 109, "Name": "Anil Gupta", "Age": None, "Department": None, "JoiningDate": "2018-08-23",
     "Salary": 50000, "Email": "anil.gupta@gmail.com", "ExperienceYears": 4},

    {"EmployeeID": 110, "Name": "Pooja Iyer", "Age": 31, "Department": "IT", "JoiningDate": "2016-02-29",
     "Salary": 69000, "Email": "pooja.iyer@company.com", "ExperienceYears": 6}
]
df=pd.DataFrame(data)
print(df)

   EmployeeID         Name   Age  Department JoiningDate  Salary  \
0         101   Ravi Kumar  28.0       Sales  2018-05-21   45000
1         102  Neha Sharma  35.0          HR  2015-03-15   62000
2         103   Amit Patel   NaN          IT  2019-07-30   75000
3         104  Priya Singh  29.0   Marketing        None   52000
4         105  Karan Mehta  42.0     Finance  2011-11-20   83000
5         106   Deepa Nair  33.0          IT  2017-01-12   71000
6         107  Vikas Reddy  26.0  Operations  2020-09-01   47000
7         108    Sneha Das  38.0     Finance  2012-06-17   86000
8         109   Anil Gupta   NaN        None  2018-08-23   50000
9         110   Pooja Iyer  31.0          IT  2016-02-29   69000

                     Email  ExperienceYears
0   ravi.kumar@company.com              3.0
1  neha.sharma@company.com              8.0
2   amit.patel@company.com              2.0
3  priya.singh@company.com              4.0
4      karan.mehta@company             14.0
5   deepa.nair@company.com              NaN
6  vikas.reddy@company.com              1.0
7    sneha.das@company.com             12.0
8                     None              4.0
9   pooja.iyer@company.com              6.0

In [9]:
import pandas as pd
pd.__version__

'2.2.3'

In [12]:
import sklearn as sk
sk.__version__

'1.5.2'

In [18]:
print(df.isnull().sum().sum())
print(df.isnull().sum())

5
EmployeeID         0
Name               0
Age                2
Department         1
JoiningDate        1
Salary             0
Email              0
ExperienceYears    1
dtype: int64

In [15]:
print(df.isnull().sum()*100)

EmployeeID           0
Name                 0
Age                200
Department         100
JoiningDate        100
Salary               0
Email                0
ExperienceYears    100
dtype: int64

In [19]:
df_drop=df.dropna()
print(df_drop)

   EmployeeID         Name   Age  Department JoiningDate  Salary  \
0         101   Ravi Kumar  28.0       Sales  2018-05-21   45000
1         102  Neha Sharma  35.0          HR  2015-03-15   62000
4         105  Karan Mehta  42.0     Finance  2011-11-20   83000
6         107  Vikas Reddy  26.0  Operations  2020-09-01   47000
7         108    Sneha Das  38.0     Finance  2012-06-17   86000
9         110   Pooja Iyer  31.0          IT  2016-02-29   69000

                     Email  ExperienceYears
0   ravi.kumar@company.com              3.0
1  neha.sharma@company.com              8.0
4      karan.mehta@company             14.0
6  vikas.reddy@company.com              1.0
7    sneha.das@company.com             12.0
9   pooja.iyer@company.com              6.0

In [20]:
# fillna()--> 
#     replace all NaN with 0 or "Unknown":df_filled = df.fillna("Unknown")  # For strings
#     Forward fill (ffill): use the previous row’s value:df.fillna(method="ffill", inplace=True)
#     Backward fill (bfill): use the next row’s value:df.fillna(method="bfill", inplace=True)
    # once for all numeric-->df.fillna(df.mean(), inplace=True)
    # once for all strings-->df.fillna({"Name": "Unknown"}, tinplace=True)

# column-wise-->df['Age'].fillna(df['Age'].mean(),inplace=True)

#NOTE:in ffill and bfill : axis=0 => row-wise
                          #axis=1 => column-wise

In [38]:
data2 = [
    {"EmployeeID": 101, "Name": "Ravi Kumar", "Age": 28, "Department": "Sales", "JoiningDate": "2018-05-21",
     "Salary": 45000, "Email": "ravi.kumar@company.com", "ExperienceYears": 3},

    {"EmployeeID": 102, "Name": "Neha Sharma", "Age": 35, "Department": "HR", "JoiningDate": "2015-03-15",
     "Salary": 62000, "Email": "neha.sharma@company.com", "ExperienceYears": 8},

    {"EmployeeID": 103, "Name": "Amit Patel", "Age": None, "Department": "IT", "JoiningDate": "2019-07-30",
     "Salary": 75000, "Email": "amit.patel@company.com", "ExperienceYears": 2},

    {"EmployeeID": 104, "Name": "Priya Singh", "Age": 29, "Department": "Marketing", "JoiningDate": None,
     "Salary": 52000, "Email": "priya.singh@company.com", "ExperienceYears": 4},

    {"EmployeeID": 105, "Name": "Karan Mehta", "Age": 42, "Department": "Finance", "JoiningDate": "2011-11-20",
     "Salary": 83000, "Email": "karan.mehta@company", "ExperienceYears": 14},

    {"EmployeeID": 106, "Name": "Deepa Nair", "Age": 33, "Department": "IT", "JoiningDate": "2017-01-12",
     "Salary": 71000, "Email": "deepa.nair@company.com", "ExperienceYears": None},

    {"EmployeeID": 107, "Name": "Vikas Reddy", "Age": 26, "Department": "Operations", "JoiningDate": "2020-09-01",
     "Salary": 47000, "Email": "vikas.reddy@company.com", "ExperienceYears": 1},

    {"EmployeeID": 108, "Name": "Sneha Das", "Age": 38, "Department": "Finance", "JoiningDate": "2012-06-17",
     "Salary": 86000, "Email": "sneha.das@company.com", "ExperienceYears": 12},

    {"EmployeeID": 109, "Name": "Anil Gupta", "Age": None, "Department": None, "JoiningDate": "2018-08-23",
     "Salary": 50000, "Email": None, "ExperienceYears": 4},

    {"EmployeeID": 110, "Name": "Pooja Iyer", "Age": 31, "Department": "IT", "JoiningDate": "2016-02-29",
     "Salary": 69000, "Email": "pooja.iyer@company.com", "ExperienceYears": 6}
]
new_df=pd.DataFrame(data2)
print(new_df)
print(new_df.isnull().sum().sum())
print(new_df.isnull().sum())

   EmployeeID         Name   Age  Department JoiningDate  Salary  \
0         101   Ravi Kumar  28.0       Sales  2018-05-21   45000
1         102  Neha Sharma  35.0          HR  2015-03-15   62000
2         103   Amit Patel   NaN          IT  2019-07-30   75000
3         104  Priya Singh  29.0   Marketing        None   52000
4         105  Karan Mehta  42.0     Finance  2011-11-20   83000
5         106   Deepa Nair  33.0          IT  2017-01-12   71000
6         107  Vikas Reddy  26.0  Operations  2020-09-01   47000
7         108    Sneha Das  38.0     Finance  2012-06-17   86000
8         109   Anil Gupta   NaN        None  2018-08-23   50000
9         110   Pooja Iyer  31.0          IT  2016-02-29   69000

                     Email  ExperienceYears
0   ravi.kumar@company.com              3.0
1  neha.sharma@company.com              8.0
2   amit.patel@company.com              2.0
3  priya.singh@company.com              4.0
4      karan.mehta@company             14.0
5   deepa.nair@company.com              NaN
6  vikas.reddy@company.com              1.0
7    sneha.das@company.com             12.0
8                     None              4.0
9   pooja.iyer@company.com              6.0
6
EmployeeID         0
Name               0
Age                2
Department         1
JoiningDate        1
Salary             0
Email              1
ExperienceYears    1
dtype: int64

In [35]:
# using loop :
for col in new_df.columns:
    if new_df[col].dtype == 'object':
        new_df[col].fillna(new_df[col].mode()[0])  # categorical → mode
    else:
        new_df[col].fillna(new_df[col].mean())     # numeric → mean
print(new_df)

   EmployeeID         Name   Age  Department JoiningDate  Salary  \
0         101   Ravi Kumar  28.0       Sales  2018-05-21   45000
1         102  Neha Sharma  35.0          HR  2015-03-15   62000
2         103   Amit Patel   NaN          IT  2019-07-30   75000
3         104  Priya Singh  29.0   Marketing        None   52000
4         105  Karan Mehta  42.0     Finance  2011-11-20   83000
5         106   Deepa Nair  33.0          IT  2017-01-12   71000
6         107  Vikas Reddy  26.0  Operations  2020-09-01   47000
7         108    Sneha Das  38.0     Finance  2012-06-17   86000
8         109   Anil Gupta   NaN        None  2018-08-23   50000
9         110   Pooja Iyer  31.0          IT  2016-02-29   69000

                     Email  ExperienceYears
0   ravi.kumar@company.com              3.0
1  neha.sharma@company.com              8.0
2   amit.patel@company.com              2.0
3  priya.singh@company.com              4.0
4      karan.mehta@company             14.0
5   deepa.nair@company.com              NaN
6  vikas.reddy@company.com              1.0
7    sneha.das@company.com             12.0
8                     None              4.0
9   pooja.iyer@company.com              6.0

In [46]:
#new_df['Age'].fillna(new_df['Age'].mean(),inplace=True)
#new_df['JoiningDate'].fillna(new_df['JoiningDate'].mean(),inplace=True)
#new_df['ExperienceYear'].fillna(new_df['ExperienceYear'].mean(),inplace=True)
new_df['Age'] = new_df['Age'].fillna(new_df['Age'].mean())
new_df['ExperienceYears'] = new_df['ExperienceYears'].fillna(new_df['ExperienceYears'].mean())
new_df['JoiningDate'] = new_df['JoiningDate'].fillna(new_df['JoiningDate'].mode()[0])
print(new_df)

   EmployeeID         Name    Age  Department JoiningDate  Salary  \
0         101   Ravi Kumar  28.00       Sales  2018-05-21   45000
1         102  Neha Sharma  35.00          HR  2015-03-15   62000
2         103   Amit Patel  32.75          IT  2019-07-30   75000
3         104  Priya Singh  29.00   Marketing  2011-11-20   52000
4         105  Karan Mehta  42.00     Finance  2011-11-20   83000
5         106   Deepa Nair  33.00          IT  2017-01-12   71000
6         107  Vikas Reddy  26.00  Operations  2020-09-01   47000
7         108    Sneha Das  38.00     Finance  2012-06-17   86000
8         109   Anil Gupta  32.75        None  2018-08-23   50000
9         110   Pooja Iyer  31.00          IT  2016-02-29   69000

                     Email  ExperienceYears
0   ravi.kumar@company.com              3.0
1  neha.sharma@company.com              8.0
2   amit.patel@company.com              2.0
3  priya.singh@company.com              4.0
4      karan.mehta@company             14.0
5   deepa.nair@company.com              6.0
6  vikas.reddy@company.com              1.0
7    sneha.das@company.com             12.0
8                     None              4.0
9   pooja.iyer@company.com              6.0