In [1]:
import pandas as pd

# Sample Employee Dataset
data = [
    {"EmployeeID": 101, "Name": "John Doe", "Age": 28, "Department": "Sales", "JoiningDate": "2018-05-21", "Salary": 50000, "Email": "john.doe@example.com", "ExperienceYears": 3},
    {"EmployeeID": 102, "Name": "Jane Smith", "Age": 35, "Department": "HR", "JoiningDate": "2015-03-15", "Salary": 65000, "Email": "jane_smith@company.com", "ExperienceYears": 8},
    {"EmployeeID": 103, "Name": "Bob Johnson", "Age": None, "Department": "IT", "JoiningDate": "2019-07-30", "Salary": 72000, "Email": "bob.johnson@example.com", "ExperienceYears": 2},
    {"EmployeeID": 104, "Name": "Alice Williams", "Age": 29, "Department": "Sales", "JoiningDate": None, "Salary": 55000, "Email": "alice.williams@company.com", "ExperienceYears": 3},
    {"EmployeeID": 105, "Name": "Tom Brown", "Age": 45, "Department": "HR", "JoiningDate": "2010-11-20", "Salary": 80000, "Email": "tom.brown@example", "ExperienceYears": 15},
    {"EmployeeID": 106, "Name": "Susan Davis", "Age": 32, "Department": "IT", "JoiningDate": "2017-01-12", "Salary": 70000, "Email": "susan.davis@company.com", "ExperienceYears": None},
    {"EmployeeID": 107, "Name": "Michael Miller", "Age": 27, "Department": "Finance", "JoiningDate": "2020-09-01", "Salary": 48000, "Email": "michael.miller@company.com", "ExperienceYears": 1},
    {"EmployeeID": 108, "Name": "Linda Wilson", "Age": 38, "Department": "Finance", "JoiningDate": "2012-06-17", "Salary": 82000, "Email": "linda.wilson@example.com", "ExperienceYears": 12},
    {"EmployeeID": 109, "Name": "Chris Moore", "Age": None, "Department": None, "JoiningDate": "2018-08-23", "Salary": 51000, "Email": "chris.moore@example.com", "ExperienceYears": 4},
    {"EmployeeID": 110, "Name": "Patricia Taylor", "Age": 31, "Department": "IT", "JoiningDate": "2016-02-29", "Salary": 68000, "Email": "patricia.taylor@company.com", "ExperienceYears": 6}
]

# Convert to pandas DataFrame
df = pd.DataFrame(data)

# Show the dataset
print(df)

   EmployeeID             Name   Age Department JoiningDate  Salary  \
0         101         John Doe  28.0      Sales  2018-05-21   50000
1         102       Jane Smith  35.0         HR  2015-03-15   65000
2         103      Bob Johnson   NaN         IT  2019-07-30   72000
3         104   Alice Williams  29.0      Sales        None   55000
4         105        Tom Brown  45.0         HR  2010-11-20   80000
5         106      Susan Davis  32.0         IT  2017-01-12   70000
6         107   Michael Miller  27.0    Finance  2020-09-01   48000
7         108     Linda Wilson  38.0    Finance  2012-06-17   82000
8         109      Chris Moore   NaN       None  2018-08-23   51000
9         110  Patricia Taylor  31.0         IT  2016-02-29   68000

                         Email  ExperienceYears
0         john.doe@example.com              3.0
1       jane_smith@company.com              8.0
2      bob.johnson@example.com              2.0
3   alice.williams@company.com              3.0
4            tom.brown@example             15.0
5      susan.davis@company.com              NaN
6   michael.miller@company.com              1.0
7     linda.wilson@example.com             12.0
8      chris.moore@example.com              4.0
9  patricia.taylor@company.com              6.0

In [2]:
print(df.isnull().sum())

EmployeeID         0
Name               0
Age                2
Department         1
JoiningDate        1
Salary             0
Email              0
ExperienceYears    1
dtype: int64

In [4]:
print(df.columns)

Index(['EmployeeID', 'Name', 'Age', 'Department', 'JoiningDate', 'Salary',
       'Email', 'ExperienceYears'],
      dtype='object')